<modal-dialog id="passageEditModal" class="editor" :can-close="canClose" :can-widen="true" :origin="origin" @destroyed="dialogDestroyed" v-ref:modal>
	<span slot="title">
		<input type="text" id="passageName" placeholder="{{ 'Passage Name' | say }}" v-model="userPassageName">
	</span>

	<tag-editor :passage="passage" :story-id="storyId"></tag-editor>
	<label style="margin-bottom: 20px; width: 50px;">
		Cost:
		<input name="goapCost" v-model="goapCost" type="number" style="width: 100%;" />
	</label>
	<label style="margin-bottom: 20px;" v-if="isFirstPassage">
		Link to the next action in the plan:
		<input name="goapDefaultLabel" v-model="goapDefaultLabel" type="text"
			placeholder="<Leave this empty to use the action names as links>" style="width: 67%" />
	</label>
	
	<div style="position: relative; height: 200px; margin-bottom: 20px;z-index:10;">
		<div id="goapPreconditions" style="width: 50%;height: 100%; position: absolute;"></div>
		<div id="goapEffects" style="width: 50%;height: 100%; position: absolute; right: 0">
		</div>
	</div>
	<p class="error" v-if="!userPassageNameValid">
		{{ 'A passage already exists with this name.' | say }}
	</p>

	<div class="expand">
		<code-mirror :options="cmOptions" :text="passage.text" @cm-change="saveText" v-ref:codemirror></code-mirror>
	</div> <!-- .fullEdit -->
</modal-dialog>
