<modal-dialog id="passageEditModal" class="editor" :can-close="canClose" :can-widen="true" :origin="origin" @destroyed="dialogDestroyed" v-ref:modal>
	<span slot="title">
		<input type="text" id="passageName" placeholder="{{ 'Passage Name' | say }}" v-model="userPassageName">
	</span>

	<tag-editor :passage="passage" :story-id="storyId"></tag-editor>
	<input name="goapCost" v-model="goapCost" type="number" />
	<textarea id="goapPreconditions" name="goapPreconditions" v-model="goapPreconditions"></textarea>
	<textarea id="goapEffects" name="goapEffects" v-model="goapEffects"></textarea>
	<p class="error" v-if="!userPassageNameValid">
		{{ 'A passage already exists with this name.' | say }}
	</p>

	<div class="expand">
		<code-mirror :options="cmOptions" :text="passage.text" @cm-change="saveText" v-ref:codemirror></code-mirror>
	</div> <!-- .fullEdit -->
</modal-dialog>
